<?xml version="1.0" ?>
<configuration>
        <section name="global_options">
                <value name="pid_file"><%= @fpm_pid %></value>
                <value name="error_log"><%= @fpm_error_log %></value>
                <value name="log_level"><%= @log_level %></value>
                <value name="emergency_restart_threshold"><%= @emergency_restart_threshold %></value>
                <value name="emergency_restart_interval"><%= @emergency_restart_interval %>s</value>
                <value name="process_control_timeout"><%= @process_control_timeout %>s</value>
                <value name="daemonize">yes</value>
        </section>
        <workers>
                <section name="pool">
                        <value name="name">nobody</value>
                        <value name="listen_address">0.0.0.0:9000</value>
                        <value name="listen_options">
                                <value name="backlog">-1</value>
                                <value name="owner">nobody</value>
                                <value name="group">nobody</value>
                                <value name="mode">0666</value>
                        </value>
                        <value name="php_defines">
                                <value name="upload_tmp_dir">/guru/ramdrive</value>
                        </value>
                        <value name="user">nobody</value>
                        <value name="group">nobody</value>
                        <value name="pm">
                                <value name="style">static</value>
                                <value name="max_children">8</value>
                        </value>
                        <value name="request_terminate_timeout">0s</value>
                        <value name="request_slowlog_timeout">3s</value>
                        <value name="slowlog">/var/log/php-fpm/slow.log</value>
                        <value name="rlimit_files">1024</value>
                        <value name="rlimit_core">0</value>
                        <value name="chroot"></value>
                        <value name="chdir"></value>
                        <value name="catch_workers_output">yes</value>
                        <value name="max_requests">500</value>
                        <value name="allowed_clients"></value>
                        <value name="environment">
                                <value name="HOSTNAME">$HOSTNAME</value>
                                <value name="PATH">/usr/local/bin:/usr/bin:/bin</value>
                                <value name="TMP">/tmp</value>
                                <value name="TMPDIR">/tmp</value>
                                <value name="TEMP">/tmp</value>
                                <value name="OSTYPE">$OSTYPE</value>
                                <value name="MACHTYPE">$MACHTYPE</value>
                                <value name="MALLOC_CHECK_">2</value>
                        </value>
                </section>
        </workers>
</configuration>
